<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard - Prarambh25</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='logo.png') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="dashboard-container">
      <nav class="navbar">
        <div class="nav-left">
          <h1>Prarambh 2025 | Code Crackers</h1>
        </div>
        <div class="nav-right">
          <a href="{{ url_for('home') }}">Dashboard</a>
          <span class="nav-separator">|</span>
          <a href="{{ url_for('round_1') }}">Round 1</a>
          <span class="nav-separator">|</span>
          <a href="{{ url_for('logout') }}">Logout</a>
        </div>
      </nav>
      <div class="content">
        <!-- FILLER -->
      </div>
    </div>
  </body>
</html>
